<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Price per hour:</strong>
  <%= @service.price_per_hour %>
</p>

<p>
  <strong>Category:</strong>
  <%= @service.category %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
